<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Footer</title>
    </head>
    
    <footer class="page-footer font-small fixed-bottom">
        <hr>
        <div class="d-flex">
        <div class="p-4 col-sm">
            
            Copyright Aurélien Lahaye, Dylan Hentschel, Kinan Jano, Dylan Martins Fernandes - 2022 ©
        </div>
    
        <div class="ml-auto p-4 ">
            <a href="#top">Back to top</a>
            <a href="#connection">Connection</a>
        </div>
    </div>
    </footer>
    
</html>